@{
    Layout = null;
}
@using System.Web.Optimization;
@model MRSUTW.Models.HomeData

<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
    <Title>MRSUTW</Title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @Styles.Render("~/styles/homepage")
    @Styles.Render("~/styles/header")
</head>
<body>
     <div class="homepage">
          <button id="switch-mode" class="switch-button"></button>

          @{ Html.RenderPartial("Header", "Home"); }

          <div class="widgets">
               <div class="widgets-left">
                    <a href="@Url.Action("Index","Orar")">
                         <div class="widget">
                              <div class="widget-title">Orar</div>
                              <div class="widget-content">
                                  <table class="orar_widget_table">
                                      <tbody>
                                          <tr>
                                              <td>
                                                  Ora
                                              </td>
                                              <td>
                                                  Azi
                                              </td>
                                          </tr>
                                          @foreach (var p in Model.perecheList)
                                          {
                                              <tr>
                                                  <td>
                                                      @p.Start.Hour:@p.Start.Minute - @p.End.Hour:@p.End.Minute
                                                  </td>
                                                  <td>
                                                      @p.ObiectType @p.Obiect <br>
                                                      (@p.Cabinet)<br>
                                                      @p.Profesor
                                                  </td>
                                              </tr>
                                          }
                                      </tbody>
                                  </table>
                              </div>
                         </div>
                    </a>
               </div>
               <div class="widgets-right">
                    <a href="#">
                         <div class="widget widget-small">
                              <div class="widget-title">Registru</div>
                              <div class="widget-content">
                                   <div class="widget-item">9</div>
                              </div>
                         </div>
                    </a>
                    <a href="#">
                         <div class="widget widget-small">
                              <div class="widget-title">Evenimente</div>
                              <div class="widget-content">
                                   <div class="widget-item">Cunoaste UTM</div>
                              </div>
                         </div>
                    </a>
               </div>
          </div>
     </div>
    <div class="background-figure" style="left: -20px; bottom: -40px; z-index: -2;"></div>
    <div class="background-figure" style="left: -90px; bottom: 100px; z-index: -3;"></div>
    <div class="background-figure" style="left: 100px; bottom: -120px; z-index: -1;"></div>
    <div class="background-figure" style="right: -20px; top: -40px; z-index: -2;"></div>
    <div class="background-figure" style="right: -90px; top: 100px; z-index: -1;"></div>
<div class="background-figure" style="right: 100px; top: -120px; z-index: -3;"></div>
<script>
    $(document).ready(function () {
        const mode = localStorage.getItem("mode");
        if (mode === "darkMode") {
            $('body').addClass('dark-mode')
        }

        $('#search-button').click(function () {
            const data = $('#search-input').val();
            $.ajax({
                url: "/Profile/Search/",
                type: "POST",
                data: {
                    searchData: data,
                },
                success: function (result) {
                    if (result.redirectUrl) {
                        window.location.href = result.redirectUrl;
                    } else {
                        console.log(result);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });
    })

    $('#switch-mode').click(function() {
        $('body').toggleClass('dark-mode');
        if ($('body').hasClass('dark-mode')) {
            localStorage.setItem("mode", "darkMode")
        } else {
            localStorage.setItem("mode", "whiteMode")
        }
    });

</script>
</body>
</html>
