@{
    Layout = null;
}
@using System.Web.Optimization;
@using System.Data;
@model IEnumerable<MRSUTW.Models.Event>

<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
    <Title>MRSUTW</Title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @Styles.Render("~/styles/adminhome")
    @Styles.Render("~/styles/header")
</head>
<body>
    <div class="admin-home">
        <button id="switch-mode" class="switch-button"></button>
        @{ Html.RenderPartial("AdminHeader", "Home"); }


        <div class="orar_widget">
            <div class="orar_widget-label">
                Selectează datele care dorești să le vezi
            </div>
            <div class="new_div">
                <a href="@Url.Action("Index","AdminUsers")">
                    <div class="new_div2">
                        <div class="new_div3">Utilizatori</div>
                        <div class="new_div4">Adăugarea➜ <br><br>Editarea➜ <br><br>Ștergerea➜ </div>
                    </div>
                </a>
                <a href="@Url.Action("Index", "AdminPerechi")">
                    <div class="new_div2">
                        <div class="new_div3">Perechi</div>
                        <div class="new_div4">Adăugarea➜ <br><br>Editarea➜ <br><br>Ștergerea➜ </div>
                    </div>
                </a>
                <a href="@Url.Action("Index", "AdminEvents")">
                    <div class="new_div2">
                        <div class="new_div3">Evenimente</div>
                        <div class="new_div4">Adăugarea➜ <br><br>Editarea➜ <br><br>Ștergerea➜ </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="background-figure" style="left: -20px; bottom: -40px; z-index: -2;"></div>
    <div class="background-figure" style="left: -90px; bottom: 100px; z-index: -3;"></div>
    <div class="background-figure" style="left: 100px; bottom: -120px; z-index: -1;"></div>
    <div class="background-figure" style="right: -20px; top: -40px; z-index: -2;"></div>
    <div class="background-figure" style="right: -90px; top: 100px; z-index: -1;"></div>
    <div class="background-figure" style="right: 100px; top: -120px; z-index: -3;"></div>
    <script>
        $(document).ready(function () {
            const mode = localStorage.getItem("mode");
            if (mode === "darkMode") {
                $('body').addClass('dark-mode')
            }

            $('#search-button').click(function () {
                const data = $('#search-input').val();
                $.ajax({
                    url: "/Profile/Search/",
                    type: "POST",
                    data: {
                        searchData: data,
                    },
                    success: function (result) {
                        if (result.redirectUrl) {
                            window.location.href = result.redirectUrl;
                        } else {
                            console.log(result);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        })

        $('#switch-mode').click(function () {
            $('body').toggleClass('dark-mode');
            if ($('body').hasClass('dark-mode')) {
                localStorage.setItem("mode", "darkMode")
            } else {
                localStorage.setItem("mode", "whiteMode")
            }
        });

    </script>
</body>
</html>
